<h1><%= @machine.location %> Vending Machine</h1>
<% @machine.snacks.each do |snack| %>
    <section id="machine-snack-<%= snack.id %>">
        <p><%= snack.name%></p>
        <p>$ <%= snack.price%>0</p>    
    </section>
<% end %>

<section id="average-price">
    <h1>Average Price Per Snack</h1>
    <p>$ <%= @machine.average_snack_price %>0</p>

</section>

