<h1><%= @machine.location %> Vending Machine</h1>
<%= @machine.snacks.each do |snack| %>

  <section id="snack-<%= snack.id %>">
    <%= snack.name %>
    <%= '%.2f' % snack.price.round(2) %>
  </section>
<% end %>
