<h1>Snacks</h1>

<%= @snack.name %>
<p>Price: $<%= @snack.price %>.00</p>

<h2>Locations</h2>

<% @snack.machines.each do |machine| %>
  <p><%= machine.location %>(<span><%= machine.snack_count %> kinds of snacks</span><span>, average price of $<%= machine.average_snack_price %></span>)</p>

<% end %>