<div class = "snack-header-info">
  <h1><%= @snack.name %></h1>
  <h3>Price: <%= "$#{number_with_precision(@snack.price, precision: 2)}" %></h3>
</div>

  <h3>Locations:</h3>
  <ul>
  <% @snack.machines.each do |machine| %>
    <div id = "<%= "#{machine.id}" %>">
        <li><%= "#{machine.location}" %> -
          (<%= "#{machine.num_of_snack_types}" %> kinds of snack(s),
          average price of <%= "$#{number_with_precision(machine.average_snack_price, precision: 2)}" %>)
        </li>
    </div>
  <% end %>
  </ul>
